# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=examinationleadedge.settings.dev

# Database (prod only)
POSTGRES_DB=ledgeexam_db
POSTGRES_USER=ledgeexam_user
POSTGRES_PASSWORD=strongpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# CORS
CORS_ALLOWED_ORIGINS=https://ledgeexamcenter.vercel.app,http://localhost:3000

# SSL (prod)
SECURE_SSL_REDIRECT=False
